.menu {
    width: 100%;
    background-image: url(../assets/imagen/background.png);
    background-attachment: fixed;
    padding-top: 0%;
    padding-bottom: 2%;
    .contenedorMenu {
        margin-left: 10%;
        width: 75%;
        margin-top: 1%;
        color: antiquewhite;
    h3 {
        margin-top: 5%;}
    p {
        margin-top: 2%;
    }
    
}

}