body {
  background-color: black;
  padding: 0%;
  margin: 0%;
}

header {
  position: sticky;
  z-index: 200;
  top: 0%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
header .logo {
  width: 10%;
  padding: 1% 0%;
}
header .logo img {
  width: 100%;
  display: flex;
}
header nav {
  width: 40%;
}
header nav ul {
  display: flex;
  padding-top: 5%;
  list-style-type: none;
}
header nav ul li {
  padding: 0% 5%;
}
header nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: 1rem;
  font-weight: bold;
}
header nav ul li a:hover {
  color: green;
}

main {
  width: 100%;
  background-image: url(../assets/imagen/background.png);
  background-attachment: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}
main .imagenPrincipal img {
  width: 100%;
  height: 60vh;
}
main .container {
  margin-top: 1%;
}
main .container .row {
  margin-top: 2%;
}
main .container .intro img {
  width: 100%;
  border-color: whitesmoke;
  border: solid;
  border-radius: 1rem;
  color: whitesmoke;
}
main .container .col-xl-6 {
  color: antiquewhite;
  text-align: center;
}
main .container .col-xl-6 h2 {
  text-align: center;
  color: antiquewhite;
  font-size: 2rem;
}
main .container .col-xl-6 a {
  text-decoration: none;
  color: whitesmoke;
}
main .container .col-xl-6 a:hover {
  color: green;
}

.menu {
  width: 100%;
  background-attachment: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}
.menu h1 {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.menu img {
  width: 100%;
  height: 60vh;
}
.menu .contenedorMenu {
  margin-left: 10%;
  width: 75%;
  margin-top: 1%;
}
.menu .contenedorMenu h2 {
  margin-top: 5%;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.menu .contenedorMenu p {
  margin-top: 2%;
  color: antiquewhite;
}
.menu .contenedorMenu .cards {
  margin-top: 2%;
}
.menu .contenedorMenu .cards .card-container, .menu .contenedorMenu .cards .card-container .card-body {
  border: solid;
  border-color: whitesmoke;
}
.menu .contenedorMenu .cards .card-container img, .menu .contenedorMenu .cards .card-container .card-body img {
  height: 40vh;
}
.menu .contenedorMenu .cards .card-container .card-body {
  background-color: black;
}
.menu .contenedorMenu .cards .card-container .card-body .card-title, .menu .contenedorMenu .cards .card-container .card-body .card-prize {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 2%;
}
.menu .contenedorMenu .cards .card-container .card-body .card-prize {
  color: darkgreen;
}
.menu .contenedorMenu .cards .card-container .card-body .card-text {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  text-align: center;
}
.menu .contenedorMenu .especiales {
  margin-top: 5%;
}
.menu .contenedorMenu .postres {
  margin-top: 5%;
  color: whitesmoke;
}

.nosotros {
  width: 100%;
  background-attachment: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}
.nosotros section .objetivo {
  width: 50%;
}

.sucursales {
  width: 100%;
  background-image: url(../assets/imagen/background.png);
  background-attachment: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}
.sucursales .imagenSucursales img {
  width: 100%;
  height: 60vh;
}
.sucursales .intro_sucursales {
  margin-left: 10%;
  width: 75%;
  margin-top: 2%;
  color: whitesmoke;
}
.sucursales .seccion_sucursales {
  margin-left: 10%;
  width: 75%;
  margin-top: 2%;
}
.sucursales .seccion_sucursales .contenedor_moreno, .sucursales .seccion_sucursales .contenedor_isidro_casanova {
  width: 100%;
  border: solid;
  border-color: whitesmoke;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  color: whitesmoke;
  margin-top: 2%;
}
.sucursales .seccion_sucursales .contenedor_moreno .sucursal, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova {
  margin-top: 10%;
}
.sucursales .seccion_sucursales .contenedor_moreno .sucursal .sucursalInfo, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal .sucursalInfo, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo_isidro_casanova {
  margin-top: 5%;
}
.sucursales .seccion_sucursales .contenedor_moreno .sucursal .sucursalInfo h4, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal .sucursalInfo h4, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo h4, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo_isidro_casanova h4 {
  text-decoration: underline;
  color: darkgreen;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.sucursales .seccion_sucursales .contenedor_moreno .sucursal .sucursalInfo h5, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal .sucursalInfo h5, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo h5, .sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo_isidro_casanova h5 {
  font-family: "Roboto", sans-serif;
}
.sucursales .seccion_sucursales .contenedor_moreno iframe, .sucursales .seccion_sucursales .contenedor_isidro_casanova iframe {
  height: 60vh;
  padding: 1%;
  width: 100%;
  border-radius: 5%;
}
.sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo_isidro_casanova h4 {
  text-decoration: underline;
}
.sucursales .seccion_sucursales .contenedor_isidro_casanova .sucursal_isidro_casanova .sucursalInfo_isidro_casanova h5 {
  font-weight: 100;
}
.sucursales .seccion_sucursales .contenedor_isidro_casanova iframe {
  height: 60vh;
  padding: 1%;
  width: 100%;
}

footer {
  width: 100%;
  background-image: url(../assets/imagen/footer_background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer h3 {
  color: white;
  text-align: center;
  opacity: 0.8;
  padding-top: 2%;
}
footer .sponsors img {
  width: 80%;
}
footer .iconBox {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
footer .iconBox a {
  padding: 0% 2%;
}
footer .iconBox a .socialIcons {
  color: antiquewhite;
  text-decoration: none;
}
footer h5 {
  text-align: center;
  color: whitesmoke;
  margin-top: 5%;
}/*# sourceMappingURL=estilos.css.map */